.App {
  text-align: center;
}

@font-face {
  font-family: 'Monoton';
  src: url(../public/fonts/Monoton-Regular.woff);
}


@font-face {
  font-family: 'SF-Pro';
  src: url(../public/fonts/SF-Pro-Display-Light.otf);
}

@font-face {
  font-family: 'SF-Pro';
  src: url(../public/fonts/SF-Pro-Display-Bold.woff);
}
